﻿@using System.Configuration
@using System.Web.Optimization
@{
    Bundles.Reference("MasterCss");
    var basehref = ConfigurationManager.AppSettings["IttInterviews.WebService.BaseHref"];
    var iconbasehref = ConfigurationManager.AppSettings["Icons.BaseHref"];
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="St Mary's University" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <link rel="shortcut icon" href="@iconbasehref/favicon.ico" type="image/x-icon" />
    <link rel="icon" sizes="192x192" href="@iconbasehref/Images/Icons/icon-192x192.png" />
    <link rel="icon" sizes="128x128" href="@iconbasehref/Images/Icons/icon-128x128.png" />
    <link rel="apple-touch-icon" href="@iconbasehref/Images/Icons/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="@iconbasehref/Images/Icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="@iconbasehref/Images/Icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="@iconbasehref/Images/Icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="@iconbasehref/Images/Icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="@iconbasehref/Images/Icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="@iconbasehref/Images/Icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="@iconbasehref/Images/Icons/apple-touch-icon-152x152.png" />
    <title>@ViewBag.Title</title>
    @Bundles.RenderStylesheets()

    <script>!function (e, n, t, a, c, o, s) { e.GoogleAnalyticsObject = c, e[c] = e[c] || function () { (e[c].q = e[c].q || []).push(arguments) }, e[c].l = 1 * new Date, o = n.createElement(t), s = n.getElementsByTagName(t)[0], o.async = 1, o.src = a, s.parentNode.insertBefore(o, s) }(window, document, "script", "//www.google-analytics.com/analytics.js", "ga");</script>

    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }

    @RenderSection("itscripts", required: false)

</head>
<body ng-app="StMarys">
    <div id="wrap">
        <div id="header">
            <div class="container-fluid">
                <div class="center-block">
                    <img src="/Images/stmarys-logo-small.png" class="img-responsive" alt="@ViewBag.Title" />
                </div>
            </div>
        </div>
        <br /><br />
        <div id="content" class="main-container container-fluid">
            <div class="page-body">
                @RenderBody()
            </div>
        </div>
        <div id="footer">
            <div class="container-fluid">
                <div class="center-block">
                    <img class="center-block img-responsive" src="/Images/it-department-signature.png" alt="Powered by yourIT Department" />
                </div>
                <p class="small">St Mary's University, Twickenham</p>
            </div>
        </div>
    </div>


    @RenderSection("scripts", required: false)

</body>
</html>




