﻿@using System.Configuration
@using System.Security.Principal
@{
    var basehref = ConfigurationManager.AppSettings["IttInterviews.WebService.BaseHref"];
    var requestUserName = "";
    if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        var details = HttpContext.Current.User.Identity.Name;
        requestUserName = details.Substring(6);
    }
    if (string.IsNullOrWhiteSpace(requestUserName))
    {
        try
        {
            var windowsIdentity = WindowsIdentity.GetCurrent();
            if (windowsIdentity != null)
            {
                var wi = windowsIdentity.Name;
                var wiarr = wi.Split('\\');
                requestUserName = (wiarr.Last());
            }
        }
        catch
        {
            // ignored
        }
    }

    // Stop Caching in IE
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
    // Stop Caching in Firefox
    Response.Cache.SetNoStore();

}
<script type="text/javascript">
    ;(function($) {
   $.fn.fixMe = function() {
      return this.each(function() {
         var $this = $(this),
            $t_fixed;
         function init() {
            $this.wrap('<div class="container-fluid no-padding-left" />');
            $t_fixed = $this.clone();
            $t_fixed.find("tbody").remove().end().addClass("fixed").insertBefore($this);
            resizeFixed();
         }
         function resizeFixed() {
            $t_fixed.find("th").each(function(index) {
               $(this).css("width",$this.find("th").eq(index).outerWidth()+"px");
            });
         }
         function scrollFixed() {
            var offset = $(this).scrollTop(),
            tableOffsetTop = $this.offset().top,
            tableOffsetBottom = tableOffsetTop + $this.height() - $this.find("thead").height();
            if(offset < tableOffsetTop || offset > tableOffsetBottom)
               $t_fixed.hide();
            else if(offset >= tableOffsetTop && offset <= tableOffsetBottom && $t_fixed.is(":hidden"))
               $t_fixed.show();
         }
         $(window).resize(resizeFixed);
         $(window).scroll(scrollFixed);
         init();
      });
   };
})(jQuery);

$(document).ready(function(){
    setTimeout(function() {
   $("table").fixMe();
   $(".up").click(function() {
      $('html, body').animate({
      scrollTop: 0
   }, 2000);
 });

    $(".btn-action").click(function() {
      $('html, body').animate({
      scrollTop: 0
   }, 2000);
 });
    },500);
});
</script>
<input type="hidden" id="wsbasehref" name="wsbasehref" value="@basehref" />
<input type="hidden" id="requestUserName" ng-model="user.requestUserName" name="requestUserName" value="@requestUserName" />
<div class="row">
    <div class="col-sm-12">
        <div class="widget">
            <div class="widget-header bg-darkblue">
                <i class="widget-icon fa fa-home"></i>
                <span class="widget-caption">PGCE Secondary - Applications</span>
                <div class="widget-buttons buttons-bordered">
                    <button ng-click="goTo('/pgcesecondary');" class="btn btn-darkorange btn-xs">Home</button>
                    <button ng-show="adminUser" ng-click="goTo('/pgcesecondary/applications?status=1');" class="btn btn-darkorange btn-xs btn-action">View All</button>
                    <button ng-show="adminUser" ng-click="goTo('/pgcesecondary/applications');" class="btn btn-darkorange btn-xs btn-action">Hide All</button>
                </div>
            </div>
            
            <div class="widget-body widget-scroll">
                <div class="row">
                    <div class="form-group">
                        <div ng-show="adminUser" class="col-md-10 col-sm-12 margin-bottom-5 no-padding-left">
                            <input type="text" class="form-control" ng-model="searchText" placeholder="Search Filter" />
                        </div>
                        <div ng-hide="adminUser" class="col-md-12 col-sm-12 margin-bottom-5 no-padding-left">
                            <input type="text" class="form-control" ng-model="searchText" placeholder="Search Filter" />
                        </div>
                        <div ng-show="adminUser" class="col-md-2 col-sm-12 margin-bottom-5 no-padding-left text-right">
                            <form action="/itt/PgceSecondaryApplicants/exportData" method="POST">
                                <input style="display:none;" ng-repeat="applicantId in selectedStudents" type="number" name="applicantIds[{{$index}}]" ng-value="{{applicantId}}" />
                                <button type="submit" class="btn btn-blue btn-block" value="TEST" >Export</button>
                            </form>
                        </div>
                    </div>
                </div>
                
                    <table class="table table-responsive table-scrollable custom-header">
                        <thead>
                            <tr>
                                <th class="th-column-sort" ng-show="adminUser">
                                    <a href="">Select Name</a>
                                    <input id="selectall"
                                           type="checkbox"
                                           ng-model="selectAllCheckboxValue"
                                           ng-change="selectAll(selectAllCheckboxValue)">
                                </th>
                                <th class="th-column-sort">
                                    <a href="" ng-click="order('ucasId')">UCAS Id</a>
                                    <span class="sortorder" ng-show="predicate === 'ucasId'" ng-class="{reverse:reverse}"></span>
                                </th>

                                <th class="th-column-sort">
                                    <a href="" ng-click="order('displayName')">Display Name</a>
                                    <span class="sortorder" ng-show="predicate === 'displayName'" ng-class="{reverse:reverse}"></span>
                                </th>

                                <th class="th-column-sort">
                                    <a href="" ng-click="order('subject')">Subject</a>
                                    <span class="sortorder" ng-show="predicate === 'subject'" ng-class="{reverse:reverse}"></span>
                                </th>

                                <th class="th-column-sort">
                                    <a href="" ng-click="order('decision')">Decision</a>
                                    <span class="sortorder" ng-show="predicate === 'decision'" ng-class="{reverse:reverse}"></span>
                                </th>

                                <th class="th-column-sort">
                                    <a href="" ng-click="order('reason')">Reason</a>
                                    <span class="sortorder" ng-show="predicate === 'reason'" ng-class="{reverse:reverse}"></span>
                                </th>

                                <th class="th-column-sort">
                                    <a href="" ng-click="order('ucasreview')">UCAS Review</a>
                                    <span class="sortorder" ng-show="predicate === 'ucasreview'" ng-class="{reverse:reverse}"></span>
                                </th>

                               
                                <th class="th-column-sort">
                                    <a href="" ng-click="order('teachersStandards')">Discussion</a>
                                    <span class="sortorder" ng-show="predicate === 'teachersStandards'" ng-class="{reverse:reverse}"></span>
                                </th>
                                <th class="th-column-sort">
                                    <a href="" ng-click="order('literacy')">Literacy Task</a>
                                    <span class="sortorder" ng-show="predicate === 'literacy'" ng-class="{reverse:reverse}"></span>
                                </th>

                                <th class="th-column-sort">
                                    <a href="" ng-click="order('sktask')">SK Task</a>
                                    <span class="sortorder" ng-show="predicate === 'literacy'" ng-class="{reverse:reverse}"></span>
                                </th>
                                <th class="th-column-sort">
                                    <a href="" ng-click="order('presentation')">Presentation Task</a>
                                    <span class="sortorder" ng-show="predicate === 'presentation'" ng-class="{reverse:reverse}"></span>
                                </th>
                                <th class="th-column-sort">
                                    <a href="" ng-click="order('interviewPm')">Interview PM</a>
                                    <span class="sortorder" ng-show="predicate === 'interviewPm'" ng-class="{reverse:reverse}"></span>
                                </th>
                                <th class="th-column-sort">
                                    <a href="" ng-click="order('decision2')">Decision</a>
                                    <span class="sortorder" ng-show="predicate === 'decision2'" ng-class="{reverse:reverse}"></span>
                                </th>
                                <th ng-if="applicantId===null" class="th-column-sort">
                                    <a href="" ng-click="order('displayName')">Summary</a>
                                    <span class="sortorder" ng-show="predicate === 'displayName'" ng-class="{reverse:reverse}"></span>
                                </th>

                                <th ng-if="adminUser" class="th-column-sort">
                                    <a href="" ng-click="order('displayName')">Remove</a>
                                    <span class="sortorder" ng-show="predicate === 'displayName'" ng-class="{reverse:reverse}"></span>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in list | orderBy:predicate:reverse | filter:searchText">
                                <td class="" ng-show="adminUser">
                                <input id="selectstudent"
                                           type="checkbox"
                                           ng-model="checkboxes[$index]"
                                           ng-change="selectStudent(checkboxes[$index], item.id)"
                                           ng-checked="selectedStudents.indexOf(item.id) !== -1"
                                           name="selectedStudents"
                                           value="{{item.id}}">
                                </td>
                                <td class="">&nbsp;{{item.ucasId}}</td>
                                <td class="">&nbsp;{{item.displayName}}</td>
                                <td class="">&nbsp;{{item.subject}}</td>
                                <td class="">&nbsp;<span ng-if="item.decision == 1" class="btn btn-sm btn-success shiny">Invited</span><span ng-if="!item.decision == 1" class="btn btn-sm btn-warning shiny">Rejected</span></td>
                                <td class="">&nbsp;
                                    <span ng-if="item.decision == 1">{{item.reasonToInviteInterview}}</span>
                                    <span ng-if="item.decision == 0 && item.rejectReason != 'Other'">{{item.rejectReason}}</span>
                                    <span ng-if="item.decision == 0 && item.rejectReason == 'Other'">{{item.rejectReason}}<br/><br />{{item.rejectHighlight}}</span>
                                </td>            
                                <!--
                                <td class="">{{item.reasonToInviteInterview}}</td>
                                            <td class="">{{item.rejectBeforeInterview}}</td>
                                            <td class="">{{item.interviewReject}}</td>
                                -->
                                            <td class="">
                                                <!--&nbsp;{{item.interviewReject}}-->
                                                <a ng-click="goCreate(item, 'decisionone');"  class="btn btn-sm btn-warning shiny"> Incomplete</a>
                                            </td>
                                
                                            <td class="">
                                                <a ng-click="goCreate(item, 'teachersstandard');" ng-if="!item.teachersStandard" class="btn btn-sm btn-warning shiny" title="Incomplete"> Incomplete</a>
                                                <a ng-click="goEdit(item, 'teachersstandard');" ng-if="item.teachersStandard" class="btn btn-sm btn-success shiny" title="Completed"> Completed</a>
                                            </td>
                                            <td class="">
                                                <a ng-click="goCreate(item, 'literacy');" ng-if="!item.literacy" class="btn btn-sm btn-warning shiny"> Incomplete</a>
                                                <a ng-click="goEdit(item, 'literacy');" ng-if="item.literacy" class="btn btn-sm btn-success shiny"> Completed</a>
                                            </td>

                                            <td class="">
                                                <a ng-click="goCreate(item, 'sktask');" ng-if="!item.sKTask" class="btn btn-sm btn-warning shiny"> Incomplete</a>
                                                <a ng-click="goEdit(item, 'sktask');" ng-if="item.sKTask" class="btn btn-sm btn-success shiny"> Completed</a>
                                            </td>

                                            <td class="">
                                                <a ng-click="goCreate(item, 'presentation');" ng-if="!item.presentation" class="btn btn-sm btn-warning shiny"> Incomplete</a>
                                                <a ng-click="goEdit(item, 'presentation');" ng-if="item.presentation" class="btn btn-sm btn-success shiny"> Completed</a>
                                            </td>
                                            <td class="">
                                                <a ng-click="goCreate(item, 'pminterview');" ng-if="!item.interviewPm" class="btn btn-sm btn-warning shiny"> Incomplete</a>
                                                <a ng-click="goEdit(item, 'pminterview');" ng-if="item.interviewPm" class="btn btn-sm btn-success shiny"> Completed</a>
                                            </td>
                                            <td class="">
                                                <a ng-click="goCreate(item, 'decision');" ng-if="!item.decision2" class="btn btn-sm btn-warning shiny"> Incomplete</a>
                                                <a ng-click="goEdit(item, 'decision');" ng-if="item.decision2" class="btn btn-sm btn-success shiny"> Completed</a>
                                            </td>
                                            <td ng-if="applicantId===null">
                                                <a ng-click="goEdit(item, 'summary');" class="btn btn-sm btn-info shiny"><i class="fa fa-list-ol"></i> Summary</a>
                                            </td>
                                            <td ng-if="adminUser">
                                                <a title="Remove" ng-click="removeApplicant(item.id);" class="btn btn-sm btn-danger shiny"><i class="fa fa-remove"></i> </a>
                                            </td>
                                            <!--
                    <td ng-if="adminUser">
                            <a title="Archive" ng-click="archiveApplicant(item.id);" class="btn btn-sm btn-warning shiny"><i class="glyphicon glyphicon-folder-close"></i> </a>
                    </td>
                        -->
                            </tr>
                        </tbody>
                    </table>
                    
            </div>
        </div>
    </div>
</div>

<h1 ng-if="applicantId!==null">Candidate's Summary : {{applicant.displayName}}</h1>
<div class="row" ng-show="showDecision">
    <div class="col-sm-12">
        <div ng-if="decision.rejected" class="widget">
            <div class="widget-header bg-danger">
                <i class="widget-icon glyphicon glyphicon-remove"></i>
                <span class="widget-caption">Decision - Rejected</span>
            </div>
            <div class="widget-body">
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Overall Grade:</label>
                    <div class="col-sm-9"><b>{{decision.overallGrade}}</b></div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Main reason for rejection:</label>
                    <div class="col-sm-9"><b>{{decision.rejectionMain}}</b></div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Reason for rejection:</label>
                    <div class="col-sm-9">
                        <b>{{decision.rejectionReason}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Other issues that may need to be recorded: </label>
                    <div class="col-sm-9">
                        <b>{{decision.otherIssues}}</b>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="decision.acceptedConditionally" class="widget">
            <div class="widget-header bg-success">
                <i class="widget-icon glyphicon glyphicon-ok"></i>
                <span class="widget-caption">Decision - Accepted with conditions</span>
            </div>
            <div class="widget-body">
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Overall Grade:</label>
                    <div class="col-sm-9"><b>{{decision.overallGrade}}</b></div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Conditions:</label>
                    <div class="col-sm-9">
                        <b>{{decision.conditions}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Other issues that may need to be recorded: </label>
                    <div class="col-sm-9">
                        <b>{{decision.otherIssues}}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="showStandard">
    <div class="col-sm-12">
        <div class="widget">
            <div class="widget-header bg-darkblue">
                <i class="widget-icon glyphicon glyphicon-ok"></i>
                <span class="widget-caption">Teacher's Standards Task</span>
            </div>
            <div class="widget-body">
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Observer:</label>
                    <div class="col-sm-9"><b>{{item.observer}}</b></div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Candidate Commentary:</label>
                    <div class="col-sm-9">
                        <b>{{candidate.applicantCommentary1}}</b><br /><br /><b>{{candidate.applicantCommentary2}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Evidence of Self-reflection: </label>
                    <div class="col-sm-9">
                        <b>{{candidate.applicantRow1}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Pedagogical understanding: </label>
                    <div class="col-sm-9">
                        <b>{{candidate.applicantRow2}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Contribution and Respect for others:</label>
                    <div class="col-sm-9">
                        <b>{{candidate.applicantRow3}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Overall: </label>
                    <div class="col-sm-9">
                        <b>{{candidate.applicantRow4}}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="showLiteracy">
    <div class="col-sm-12">
        <div class="widget">
            <div class="widget-header bg-darkblue">
                <i class="widget-icon glyphicon glyphicon-ok"></i>
                <span class="widget-caption">Literacy Task</span>
            </div>
            <div class="widget-body">
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Literacy Comment:</label>
                    <div class="col-sm-9">
                        <b>{{literacy.literacyComment}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Literacy Score - Presentation: </label>
                    <div class="col-sm-9">
                        <b>{{literacy.literacyScore1}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Literacy Score - SP&amp;G: </label>
                    <div class="col-sm-9">
                        <b>{{literacy.literacyScore2}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Literacy Score - M Level Potential: </label>
                    <div class="col-sm-9">
                        <b>{{literacy.literacyScore3}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Literacy Score - Overall: </label>
                    <div class="col-sm-9">
                        <b>{{literacy.literacyScore4}}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="showLiteracy">
    <div class="col-sm-12">
        <div class="widget">
            <div class="widget-header bg-darkblue">
                <i class="widget-icon glyphicon glyphicon-ok"></i>
                <span class="widget-caption">SK Task</span>
            </div>
            <div class="widget-body">
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Observer:</label>
                    <div class="col-sm-9"><b>{{literacy.observer}}</b></div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Subject:</label>
                    <div class="col-sm-9">
                        <b>{{literacy.subject}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Subject Knowledge Comment: </label>
                    <div class="col-sm-9">
                        <b>{{literacy.subjectKnowledge}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Subject Knowledge Score: </label>
                    <div class="col-sm-9">
                        <b>{{literacy.subjectKnowledgeScore}}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="showPresentation">
    <div class="col-sm-12">
        <div class="widget">
            <div class="widget-header bg-darkblue">
                <i class="widget-icon glyphicon glyphicon-ok"></i>
                <span class="widget-caption">Presentation Task</span>
            </div>
            <div class="widget-body">
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Observer:</label>
                    <div class="col-sm-9"><b>{{presentation.observer}}</b></div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Commentary:</label>
                    <div class="col-sm-9">
                        <b>{{presentation.commentary}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Spoken English: </label>
                    <div class="col-sm-9">
                        <b>{{presentation.row1Score}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Ability to engage audience: </label>
                    <div class="col-sm-9">
                        <b>{{presentation.row2Score}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Defence of subject area:</label>
                    <div class="col-sm-9">
                        <b>{{presentation.row3Score}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Overall: </label>
                    <div class="col-sm-9">
                        <b>{{presentation.row4Score}}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-show="showPmInterview">
    <div class="col-sm-12">
        <div class="widget">
            <div class="widget-header bg-darkblue">
                <i class="widget-icon glyphicon glyphicon-ok"></i>
                <span class="widget-caption">Interview PM</span>
            </div>
            <div class="widget-body">
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Date of Interview:</label>
                    <div class="col-sm-9"><b>{{interview.dateInterview}}</b></div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Subject:</label>
                    <div class="col-sm-9">
                        <b>{{interview.subject}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Interviewer 1:</label>
                    <div class="col-sm-9">
                        <b>{{interview.interviewer1}}</b>
                    </div>
                </div>
                <div class="row">
                    <label class="col-sm-3 control-label darkblue">Interviewer 2: </label>
                    <div class="col-sm-9">
                        <b>{{interview.interviewer2}}</b>
                    </div>
                </div>
                <div class="row jumbotron padding-10 padding-10">
                    <label class="col-sm-3 control-label darkblue">1. Why Teaching?</label>
                    <div class="col-sm-9">
                        <b>Score:  {{interview.question1Score}}</b>
                        <br /><br />
                        <b>{{interview.q1Notes}}</b>
                    </div>
                </div>
                <div class="row jumbotron padding-10">
                    <label class="col-sm-3 control-label darkblue">2 How many days of school observation?</label>
                    <div class="col-sm-9">
                        <b>Days: {{interview.observationDays}}</b>
                        <br /><br />
                        <b>Score:  {{interview.question2Score}}</b>
                    </div>


                    <div class="row padding-top-20 padding-left-10">
                        <label class="col-sm-3 control-label darkblue">2.1 School context?</label>
                        <div class="col-sm-9 padding-left-5">
                            <b>{{interview.q2Notes}}</b>
                        </div>
                    </div>
                </div>
                <div class="row jumbotron padding-10">
                    <label class="col-sm-3 control-label darkblue">3. Qualities of a teacher</label>
                    <div class="col-sm-9">
                        <b>Score:  {{interview.question3Score}}</b>
                        <br /><br />
                        <b>{{interview.q3Notes}}</b>
                    </div>
                </div>
                <div class="row jumbotron padding-10">
                    <label class="col-sm-3 control-label darkblue">4. Subject Knowledge</label>
                    <div class="col-sm-9">
                        <b>Score:  {{interview.question4Score}}</b>
                        <br /><br />
                        <b>{{interview.q4Notes}}</b>
                    </div>
                </div>
                <div class="row jumbotron padding-10">
                    <label class="col-sm-3 control-label darkblue">5. Wider role </label>
                    <div class="col-sm-9">
                        <b>Score:  {{interview.question5Score}}</b>
                        <br /><br />
                        <b>{{interview.q5Notes}}</b>
                    </div>
                </div>

                <div ng-show="interview.dbsCheckIssues" class="row jumbotron padding-10">
                    <label class="col-sm-3 control-label darkblue">6. Resilience </label>
                    <div class="col-sm-9">
                        <b>{{interview.dbsComment}}</b>
                        <br /><br />
                    </div>
                </div>

                <div ng-show="interview.dbsCheckIssues" class="row jumbotron padding-10">
                    <label class="col-sm-3 control-label darkblue">7. DBS/Wellbeing Form signed </label>
                    <div class="col-sm-9">
                        <b>Yes</b>
                        <br /><br />
                        <b>{{interview.dbsComment}}</b>
                        <br /><br />
                    </div>
                </div>
                <!--
                <div ng-show="interview.dbsCheckIssues" class="row">
                    <label class="col-sm-3 control-label darkblue">6.1  Are there any issues about the DBS check you want to raise?</label>
                    <div class="col-sm-9">
                        <b>{{interview.dbsComment}}</b>
                    </div>
                </div>
                
                <div ng-show="interview.issuesStudying" class="row">
                    <label class="col-sm-3 control-label darkblue">6.2  Are there any issues about studying at St Mary’s you want to raise? </label>
                    <div class="col-sm-9">
                        <b>{{interview.issuesStudyingNotes}}</b>
                    </div>
                </div>
                <div ng-show="interview.physicalHealth" class="row">
                    <label class="col-sm-3 control-label darkblue">6.3  Are there any issues you may like us to take into consideration with regard to your physical health?  </label>
                    <div class="col-sm-9">
                        <b>{{interview.physicalHealthNotes}}</b>
                    </div>
                </div>
                <div ng-show="interview.mentalHealth" class="row">
                    <label class="col-sm-3 control-label darkblue">6.4  Are there any issues you may like us to take into consideration with regard to your mental health?   </label>
                    <div class="col-sm-9">
                        <b>{{interview.mentalHealthNotes}}</b>
                    </div>
                </div>
                <div ng-show="interview.personalCircumstances" class="row">
                    <label class="col-sm-3 control-label darkblue">6.5  Are there any issues you may like us to take into consideration with regard to your personal circumstances?   </label>
                    <div class="col-sm-9">
                        <b>{{interview.personalCircumstancesNotes}}</b>
                    </div>
                </div>
                <div ng-show="interview.religiousRequirements" class="row">
                    <label class="col-sm-3 control-label darkblue">6.6  Are there any issues you may like us to take into consideration with regard to your specific religious requirements?   </label>
                    <div class="col-sm-9">
                        <b>{{interview.religiousRequirementsNotes}}</b>
                    </div>
                </div>
                <div ng-show="interview.failedQtsCourse" class="row">
                    <label class="col-sm-3 control-label darkblue">6.7  Have you ever failed, or had funding refused to follow a QTS course?  </label>
                    <div class="col-sm-9">
                        <b>{{interview.failedQtsCourseNotes}}</b>
                    </div>
                </div>
                <div ng-show="interview.dbsFitnessIssues" class="row">
                    <label class="col-sm-3 control-label darkblue">6.8  You will have read the "DBS and Fitness to Teach" yellow card. Are there any issues you wish to raise?  </label>
                    <div class="col-sm-9">
                        <b>{{interview.dbsFitnessIssuesNotes}}</b>
                    </div>
                </div>
                    -->
                <div class="row padding-top-20">
                    <label class="col-sm-3 control-label darkblue">Questions: </label>
                    <div class="col-sm-9">
                        <b>{{interview.questions}}</b>
                    </div>
                </div>
                
                <div class="row padding-top-20">
                    <label class="col-sm-3 control-label darkblue">Answers: </label>
                    <div class="col-sm-9">
                        <b>{{interview.answers}}</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br />
<script type="text/ng-template" id="ModalDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>
<script type="text/ng-template" id="Modal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span class="fa fa-cog fa-spin"></span> {{title}}</h3>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
</script>