﻿@using System.Configuration
@using System.Security.Principal
@{
    var basehref = ConfigurationManager.AppSettings["IttInterviews.WebService.BaseHref"];
    var requestUserName = "";
    if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        var details = HttpContext.Current.User.Identity.Name;
        requestUserName = details.Substring(6);
    }
    if (string.IsNullOrWhiteSpace(requestUserName))
    {
        try
        {
            var windowsIdentity = WindowsIdentity.GetCurrent();
            if (windowsIdentity != null)
            {
                var wi = windowsIdentity.Name;
                var wiarr = wi.Split('\\');
                requestUserName = (wiarr.Last());
            }
        }
        catch
        {
            // ignored
        }
    }

    // Stop Caching in IE
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
    // Stop Caching in Firefox
    Response.Cache.SetNoStore();

}
<input type="hidden" id="wsbasehref" name="wsbasehref" value="@basehref" />
<input type="hidden" id="requestUserName" ng-model="user.requestUserName" name="requestUserName" value="@requestUserName" />
<div class="row">
    <div class="col-sm-12">
        <div class="widget">
            <div class="widget-header bg-darkblue">
                <i class="widget-icon fa fa-home"></i>
                <span class="widget-caption">PGCE Secondary - Application Review</span>
                <div class="widget-buttons buttons-bordered">
                    <button ng-click="goTo('/pgcesecondary');" class="btn btn-darkorange btn-xs">Home</button>
                </div> 
            </div>
            <div class="widget-body">
                <div class="collapse in">
                    <form id="formAppReview" name="frm" ng-submit="saveNewApplicationReview()" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Please ensure every field marked with a <span class="danger">*</span> has been filled in and then click the "Save" button at the bottom. </h4>
                                <br />
                            </div>
                        </div>
                        
                        <div class="form-group" ng-class="{ 'has-error' : frm.firstName.$invalid && !frm.firstName.$pristine }">
                            <div class="row">
                                <label class="col-sm-3 control-label">First Name: <span class="danger">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="firstName" ng-model="item.forename" placeholder="First Name" ng-minlength="2" required="" />
                                    <p ng-show="frm.firstName.$invalid && !frm.firstName.$pristine" class="help-block">Your first name is required.</p>
                                    <p ng-show="frm.firstName.$error.minlength" class="help-block">First name is too short.</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : frm.surname.$invalid && !frm.surname.$pristine }">
                            <div class="row">
                                <label class="col-sm-3 control-label">Surname: <span class="danger">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="surname" ng-model="item.surname" placeholder="Surname" ng-minlength="2" required="" />
                                    <p ng-show="frm.surname.$invalid && !frm.surname.$pristine" class="help-block">Your surname is required.</p>
                                    <p ng-show="frm.surname.$error.minlength" class="help-block">Surname is too short.</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : frm.ucasId.$invalid && !frm.ucasId.$pristine }">
                            <div class="row">
                                <label class="col-sm-3 control-label">UCAS ID: <span class="danger">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="ucasId" ng-model="item.ucasId" placeholder="UCAS ID" ng-minlength="2" required="" />
                                    <p ng-show="frm.ucasId.$invalid && !frm.ucasId.$pristine" class="help-block">Your UCAS ID is required.</p>
                                    <p ng-show="frm.ucasId.$error.minlength" class="help-block">UCAS ID is too short.</p>
                                </div>
                            </div>
                        </div>
                       <br /><br />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button id="btnStep1" class="btn btn-labeled btn-success btn-block" ng-disabled="frm.$invalid"><i class="btn-label glyphicon glyphicon-ok"></i>Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br />
<script type="text/ng-template" id="ModalDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>
<script type="text/ng-template" id="Modal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span class="fa fa-cog fa-spin"></span> {{title}}</h3>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
</script>





