﻿@using System.Configuration
@using System.Security.Principal
@{
    var basehref = ConfigurationManager.AppSettings["IttInterviews.WebService.BaseHref"];
    var requestUserName = "";
    if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        var details = HttpContext.Current.User.Identity.Name;
        requestUserName = details.Substring(6);
    }
    if (string.IsNullOrWhiteSpace(requestUserName))
    {
        try
        {
            var windowsIdentity = WindowsIdentity.GetCurrent();
            if (windowsIdentity != null)
            {
                var wi = windowsIdentity.Name;
                var wiarr = wi.Split('\\');
                requestUserName = (wiarr.Last());
            }
        }
        catch
        {
            // ignored
        }
    }

    // Stop Caching in IE
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
    // Stop Caching in Firefox
    Response.Cache.SetNoStore();

}
<input type="hidden" id="wsbasehref" name="wsbasehref" value="@basehref" />
<input type="hidden" id="requestUserName" ng-model="user.requestUserName" name="requestUserName" value="@requestUserName" />
<div class="row">
    <div class="col-sm-12">
        <div class="widget">
            <div class="widget-header bg-darkblue">
                <i class="widget-icon fa fa-home"></i>
                <span class="widget-caption">PGCE Secondary - Decision</span>
                <div class="widget-buttons buttons-bordered">
                    <button ng-click="goTo('/pgcesecondary');" class="btn btn-darkorange btn-xs">Home</button>
                </div> 
            </div>
            <div class="widget-body">
                <div class="collapse in">
                    <form id="formLiteracy" name="frm" ng-submit="saveDecision()" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Please ensure every field marked with a <span class="danger">*</span> has been filled in and then click the "Save" button at the bottom. </h4>
                            </div>
                        </div>
                        <h1>Applicant: {{applicant.displayName}}</h1>
                        <div class="form-group">                           
                            <div class="row">
                                <label class="col-sm-3 control-label">Overall Grade: </label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label>
                                                <input type="radio" class="colored-success" ng-model="item.overallGrade" name="overallGrade" value="1">
                                                <span class="text">1</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>
                                                <input type="radio" class="colored-success" ng-model="item.overallGrade" name="overallGrade" value="2">
                                                <span class="text">2</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>
                                                <input type="radio" class="colored-success" ng-model="item.overallGrade" name="overallGrade" value="3">
                                                <span class="text">3</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>
                                                <input type="radio" class="colored-success" ng-model="item.overallGrade" name="overallGrade" value="4">
                                                <span class="text">4</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-2 control-label">Decision: </label>
                                <div class="col-sm-5">
                                    <label>
                                        <toggle ng-change="changedDecision('accept')" ng-model="item.acceptedConditionally" off="No" on="Yes" onstyle="btn-success shiny" offstyle="btn-azure shiny"></toggle>
                                        <span class="text control-label">
                                            &nbsp;&nbsp;Accept with conditions (see below)
                                        </span>
                                    </label>
                                </div>
                                <div class="col-sm-5">
                                    <label>
                                        <toggle ng-change="changedDecision('reject')" ng-model="item.rejected" off="No" on="Yes" onstyle="btn-danger shiny" offstyle="btn-azure shiny"></toggle>
                                        <span class="text control-label">
                                            &nbsp;&nbsp;Rejected
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div ng-show="item.acceptedConditionally" class="form-group">
                            <div class="row">
                                <label class="col-sm-3 control-label">Conditions:</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" name="conditions" ng-model="item.conditions" placeholder="Conditions"></textarea>
                                    <p>Successful completion of Degree (Classification:___). Subject Knowledge Enhancement Course needed please specify: Chemistry/Physics/Mathematics/French/German 4/8/12/16/24 weeks. Reference issues. Skills tests completed: Literacy/Numeracy. Other conditions: Must be specific, realistic and time measured e.g. School observation (with given focus); written/e-mailed report to subject leader (give name) by June 30th etc.</p>
                                </div>
                            </div>
                        </div>
                        <div ng-show="item.rejected" class="form-group">
                            <div class="row">
                                <label class="col-sm-3 control-label">Main reason for rejection<br/><span class="small">(More than one category can be identified)</span></label>
                                <div class="col-sm-9">
                                    <div ng-repeat="reason in reasons" class="row">
                                        <div class="col-sm-12">
                                            <label>
                                                <toggle ng-change="changedReason(reason)" ng-model="reason.selected" off="No" on="Yes" onstyle="btn-success shiny" offstyle="btn-azure shiny"></toggle>
                                                <span class="text control-label">
                                                    &nbsp;&nbsp;{{reason.name}}
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                    <textarea ng-show="showOtherReason" class="form-control" name="otherReason" ng-model="otherReason" placeholder="Other Reason"></textarea>
                                </div>
                            </div>
                        </div>
                        <div ng-show="item.rejected" class="form-group">
                            <div class="row">
                                <label class="col-sm-3 control-label">Reason for rejection:</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" name="rejectionReason" ng-model="item.rejectionReason" placeholder="Reason for rejection"></textarea>
                                    <p>Provide sufficient detail which may be shared with applicant</p>
                                </div>
                            </div>
                        </div>

                        <hr/>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-3 control-label">Other issues that may need to be recorded:</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" name="otherIssues" ng-model="item.otherIssues" placeholder="Other Issues"></textarea>
                                    <p>e.g. Declarations related to disability, health, safeguarding, placements or deferral.</p>                                   
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button id="btnStep1" class="btn btn-labeled btn-success btn-block" ng-disabled="frm.$invalid"><i class="btn-label glyphicon glyphicon-ok"></i>Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br />
<script type="text/ng-template" id="ModalDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>
<script type="text/ng-template" id="Modal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span class="fa fa-cog fa-spin"></span> {{title}}</h3>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
</script>








