﻿@using System.Configuration
@using System.Security.Principal
@{
    var basehref = ConfigurationManager.AppSettings["IttInterviews.WebService.BaseHref"];
    var requestUserName = "";
    if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        var details = HttpContext.Current.User.Identity.Name;
        requestUserName = details.Substring(6);
    }
    if (string.IsNullOrWhiteSpace(requestUserName))
    {
        try
        {
            var windowsIdentity = WindowsIdentity.GetCurrent();
            if (windowsIdentity != null)
            {
                var wi = windowsIdentity.Name;
                var wiarr = wi.Split('\\');
                requestUserName = (wiarr.Last());
            }
        }
        catch
        {
            // ignored
        }
    }

    // Stop Caching in IE
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
    // Stop Caching in Firefox
    Response.Cache.SetNoStore();

}
<input type="hidden" id="wsbasehref" name="wsbasehref" value="@basehref" />
<input type="hidden" id="requestUserName" ng-model="user.requestUserName" name="requestUserName" value="@requestUserName" />
<div class="row">
    <div class="col-sm-12">
        <div class="widget">
            <div class="widget-header bg-darkblue">
                <i class="widget-icon fa fa-home"></i>
                <span class="widget-caption">PGCE Secondary - SK Task</span>
                <div class="widget-buttons buttons-bordered">
                    <button ng-click="goTo('/pgcesecondary');" class="btn btn-darkorange btn-xs">Home</button>
                </div>
            </div>
            <div class="widget-body">
                <div class="collapse in">
                    <form id="formLiteracy" name="frm" ng-submit="saveLiteracy()" novalidate>
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Please ensure every field marked with a <span class="danger">*</span> has been filled in and then click the "Save" button at the bottom. </h4>
                            </div>
                        </div>
                        <h1>Applicant: {{applicant.displayName}}</h1>
                        <!--<div class="form-group" ng-class="{ 'has-error' : frm.subject.$invalid && !frm.subject.$pristine }">
                            <div class="row">
                                <label class="col-sm-3 control-label">Subject: <span class="danger">*</span></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="subject" ng-model="item.subject" placeholder="Subject" ng-minlength="2" required="" />
                                    <p ng-show="frm.subject.$invalid && !frm.subject.$pristine" class="help-block">The subject is required.</p>
                                    <p ng-show="frm.subject.$error.minlength" class="help-block">Subject is too short.</p>
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group" ng-class="{ 'has-error' : frm.subjectKnowledge.$invalid && !frm.subjectKnowledge.$pristine }">
                            <div class="row">
                                <label class="col-sm-3 control-label">Subject Knowledge Comment: <span class="danger">*</span></label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" name="subjectKnowledge" ng-model="item.subjectKnowledge" placeholder="Subject Knowledge Comment" ng-minlength="2" required=""></textarea>
                                    <p ng-show="frm.subjectKnowledge.$invalid && !frm.subjectKnowledge.$pristine" class="help-block">Your subject is required.</p>
                                    <p ng-show="frm.subjectKnowledge.$error.minlength" class="help-block">Subject Knowledge is too short.</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-sm-3 control-label">Subject Knowledge Score: <span class="danger">*</span></label>
                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label>
                                                <input type="radio" class="colored-success" ng-model="item.subjectKnowledgeScore" name="subjectKnowledgeScore" value="1">
                                                <span class="text">1</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>
                                                <input type="radio" class="colored-success" ng-model="item.subjectKnowledgeScore" name="subjectKnowledgeScore" value="2">
                                                <span class="text">2</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>
                                                <input type="radio" class="colored-success" ng-model="item.subjectKnowledgeScore" name="subjectKnowledgeScore" value="3">
                                                <span class="text">3</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-3">
                                            <label>
                                                <input type="radio" class="colored-success" ng-model="item.subjectKnowledgeScore" name="subjectKnowledgeScore" value="4">
                                                <span class="text">4</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <button id="btnStep1" class="btn btn-labeled btn-success btn-block" ng-disabled="frm.$invalid"><i class="btn-label glyphicon glyphicon-ok"></i>Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br />
<script type="text/ng-template" id="ModalDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>
<script type="text/ng-template" id="Modal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span class="fa fa-cog fa-spin"></span> {{title}}</h3>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
</script>