﻿@using System.Configuration
@using System.Security.Principal
@{
    var basehref = ConfigurationManager.AppSettings["IttInterviews.WebService.BaseHref"];
    var requestUserName = "";
    if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        var details = HttpContext.Current.User.Identity.Name;
        requestUserName = details.Substring(6);
    }
    if (string.IsNullOrWhiteSpace(requestUserName))
    {
        try
        {
            var windowsIdentity = WindowsIdentity.GetCurrent();
            if (windowsIdentity != null)
            {
                var wi = windowsIdentity.Name;
                var wiarr = wi.Split('\\');
                requestUserName = (wiarr.Last());
            }
        }
        catch
        {
            // ignored
        }
    }

    // Stop Caching in IE
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
    // Stop Caching in Firefox
    Response.Cache.SetNoStore();

}
<input type="hidden" id="wsbasehref" name="wsbasehref" value="@basehref" />
<input type="hidden" id="requestUserName" ng-model="user.requestUserName" name="requestUserName" value="@requestUserName" />
<div class="row">
    <div class="col-sm-12">
        <div class="widget">
            <div class="widget-header bg-darkblue">
                <i class="widget-icon fa fa-home"></i>
                <span class="widget-caption">Areas</span>
            </div>
            <div class="widget-body">
                <div class="collapse in">
                    <div class="row">
                        <div class="col-sm-12">
                            Please choose from the areas below to proceed:<br /><br />
                            <div class="list-group">
                                <a ng-click="goTo('/pgcesecondary');" class="list-group-item">PGCE Secondary</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br /><br />
<script type="text/ng-template" id="ModalDialog.html">
    <div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
    </div>
</script>
<script type="text/ng-template" id="Modal.html">
    <div class="modal-header">
        <h3 class="modal-title"><span class="fa fa-cog fa-spin"></span> {{title}}</h3>
    </div>
    <div class="modal-body">
        {{message}}
    </div>
</script>



